/* CIT 230 - Assignment Portal CSS Template */

/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: #333
    ;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
    ;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 650px;
    ;
}

header, footer, footer a {
    text-align: center;
    background-color: #377cc3;
    color: whitesmoke;
}

header img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    float: right;
    border-radius: 50px;
}

footer {
    font-size: 12px;
    ;
}

/* Manipulate CSS styles */

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

  .mobile-container  h3, .mobile-container  p{
    padding: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }