#image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    margin-bottom: 50px;
    padding: 15px;
}

#image-gallery img{
    width: 100%;
}

figure {
    margin: 0;
    font-size: 14px;
}

#image-gallery div {
    box-shadow: none;
}

#image-gallery div:hover {
    box-shadow: none;
}